<div id="<%= dom_id assessment %>">
  <p>
    <strong>Name:</strong>
    <%= assessment.name %>
  </p>

  <p>
    <strong>Max Score:</strong>
    <%= assessment.max_score %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= assessment.due_date %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= assessment.release_date %>
  </p>

</div>
