<p style="color: green"><%= notice %></p>

<div class="rounded-4 mx-auto  h-100 w-100 p-3 border border-danger border-3" style = "background-color: white">

  <h1 class="text-primary">Assessments</h1>

  <div id="assessments">
  <% if student_signed_in? %>
    <%= render partial: "assessments/student_assessments" %>
     <% else %>
      <%= render partial: "assessments/teacher_assessments" %>
    <% end %>
  </div>
<% if teacher_signed_in?%>
  <%= button_to "New Assessment", new_assessment_path, method: :get, :class => "m-3 btn btn-primary"  %>
    <%= button_to "Back", course_path(@course), method: :get, :class => "m-3 btn btn-primary"  %>
  <% else %>
    <%= button_to "Back", my_courses_path, method: :get, :class => "m-3 btn btn-primary"  %>
  <% end %>



</div>
