<p style="color: green"><%= notice %></p>

<div class="rounded-4 mx-auto  h-100 w-100 p-3 border border-danger border-3" style = "background-color: white">


<h1 class="text-primary">Enrolments</h1>

  <div id="enrolments">
  <table class=" table table-striped container table-light" style = "border-radius: 6px; overflow: hidden;">
    <thead class="thead-dark">
        <tr>
          <th class = "text-primary fs-4">Student ID</th>
          <th class = "text-primary fs-4">First Name</th>
          <th class = "text-primary fs-4">Last Name</th>
          <th class = "text-primary fs-4">Actions</th>
        </tr>
    </thead>

    <tbody>
      <% @enrolments.each do |enrolment| %>
        <tr>
              <%= render enrolment %>
              <td><%= button_to 'Destroy', course_enrolment_path(@course, enrolment), data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

<%= link_to "New enrolment", new_course_enrolment_path %><br>
<%= link_to "Back", course_path(@course) %>

</div>
