<p style="color: green"><!--<%= notice %>--></p>

<div class="rounded mx-auto text-center h-100 w-100 p-3" >

  <div class="rounded-4 mx-auto w-50 p-3 border border-danger border-3" style = "background-color: white">
    <h1>
      <%= render @course %>
    </h1>
    Teacher: <%= @teacher_first_name %> <%= @teacher_last_name %>
    <div class = "btn-group" role="group">
      <%= button_to "Edit this course", edit_course_path(@course), method: :get, :class => "mr-2 btn btn-primary" %>
      <%= button_to "View students", course_enrolments_path(@course), method: :get, :class => "mr-2 btn btn-primary" %>
      <%= button_to "View assignments", course_assessments_path(@course), method: :get, :class => "mr-2 btn btn-primary" %>
      <%= button_to "Back to courses", courses_path, method: :get, :class => "mr-2 btn btn-primary" %>
    </div>
    <div>
      <%= button_to "Destroy this course", @course, {method: :delete,  :class => "btn btn-danger btn-sm"} %>
    </div>
  </div>

</div>

