<!DOCTYPE html>
<html>
  <head>
    <title>ESaaS22022Group3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% #= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% #= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        body {
            background-image: url(<%= asset_path 'adelaide-uni.jpg' %>);
            background-size: cover;
        }
    </style>
  </head>

  <body>
  <div style="text-align:justify; max-width:58.75em; margin:auto">
    <%= render 'partials/alerts' %>
    <%= yield %>
  </div>
  </body>
</html>
